.stage-root {
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  --split_px: 0px;
}

.element {
  background-color: transparent;
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.stage-root::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #ffffff;
  clip-path: inset(0 calc(100% - var(--split, 0%)) 0 0);
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 999;
}
  
  .element .rectangle {
    position: absolute;
    top: 313px;
    left: 1476px;
    width: 186px;
    height: 510px;
  }
  
  .element .img {
    position: absolute;
    top: 278px;
    left: 303px;
    width: 1312px;
    height: 562px;
  }
  
  .element .STAGE {
    position: absolute;
    width: calc(100% - 1725px);
    top: 49px;
    left: 50px;
    height: 156px;
  }
  
  .element .vector {
    position: absolute;
    width: calc(100% - 173px);
    top: 88px;
    left: 45px;
    height: 68px;
    object-fit: cover;
  }
  
  .element .vector-2 {
    width: calc(100% - 152px);
    top: 88px;
    left: 0;
    height: 68px;
    position: absolute;
    object-fit: cover;
  }
  
  .element .vector-3 {
    width: calc(100% - 165px);
    top: 1px;
    left: 165px;
    height: 68px;
    position: absolute;
    object-fit: cover;
  }
  
  .element .vector-4 {
    width: calc(100% - 156px);
    top: 0;
    left: 120px;
    height: 69px;
    position: absolute;
    object-fit: cover;
  }
  
  .element .vector-5 {
    width: calc(100% - 148px);
    top: 1px;
    left: 72px;
    height: 68px;
    position: absolute;
    object-fit: cover;
  }
  
  .element .vector-6 {
    width: calc(100% - 159px);
    top: 1px;
    left: 42px;
    height: 68px;
    position: absolute;
    object-fit: cover;
  }
  
  .element .vector-7 {
    width: calc(100% - 158px);
    top: 0;
    left: 4px;
    height: 69px;
    position: absolute;
    object-fit: cover;
  }
  
  .element .frame {
    position: absolute;
    top: 968px;
    left: 50px;
    width: 1820px;
    height: 62px;
  }
  
  .element .text-wrapper {
    position: absolute;
    width: calc(100% - 1785px);
    top: 0;
    left: 2px;
    font-family: "D-DIN Condensed-DINCondensed-Bold", Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .element .div {
    width: calc(100% - 1765px);
    left: 1765px;
    text-align: right;
    position: absolute;
    top: 0;
    font-family: "D-DIN Condensed-DINCondensed-Bold", Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .element .text-wrapper-2 {
    width: calc(100% - 1773px);
    left: 882px;
    text-align: center;
    position: absolute;
    top: 0;
    font-family: "D-DIN Condensed-DINCondensed-Bold", Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .element .text-wrapper-3 {
    width: calc(100% - 1774px);
    left: 436px;
    text-align: center;
    position: absolute;
    top: 0;
    font-family: "D-DIN Condensed-DINCondensed-Bold", Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .element .text-wrapper-4 {
    width: calc(100% - 1774px);
    left: 1324px;
    text-align: center;
    position: absolute;
    top: 0;
    font-family: "D-DIN Condensed-DINCondensed-Bold", Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .element .line-stroke {
    position: absolute;
    top: 57px;
    left: 0;
    width: 1820px;
    height: 5px;
  }
  
  .element .frame-2 {
    position: absolute;
    top: 218px;
    left: 358px;
    width: 1204px;
    height: 644px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    border: 3px solid #121212;
  }
  
  .element .text-wrapper-5 {
    height: 65px;
    width: 224px;
    align-self: center;
    margin-top: 49px;
    font-family: "D-DIN Condensed-DINCondensed-Bold", Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    color: #121212;
    font-size: 60px;
    text-align: center;
    letter-spacing: -1.2px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .element .frame-3 {
    display: flex;
    margin-left: 55px;
    width: 1095px;
    height: 275px;
    position: relative;
    margin-top: 36px;
    flex-direction: column;
    align-items: center;
    gap: 36px;
  }
  
  .element .a-b-b-a {
    position: relative;
    align-self: stretch;
    height: 96px;
    margin-top: -1px;
    font-family: "Pretendard-Medium", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #121212;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 32.5px;
  }
  
  .element .frame-4 {
    display: flex;
    flex-wrap: wrap;
    width: 965px;
    align-items: flex-start;
    gap: 25px 25px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .element .view {
    position: relative;
    width: 470px;
    height: 59px;
  }
  
  .element .div-wrapper {
    width: 470px;
    height: 59px;
    display: flex;
    border-radius: 100px;
    overflow: hidden;
    border: 3px solid #121212;
  }
  
  .element .text-wrapper-6 {
    width: 114px;
    margin-top: 14px;
    height: 32px;
    margin-left: 34px;
    font-family: "Pretendard-Medium", Helvetica, Arial, sans-serif;
    color: #121212;
    font-size: 25px;
    letter-spacing: -0.5px;
    line-height: 32.5px;
    white-space: nowrap;
  }
  
  .element .text-wrapper-7 {
    width: 113px;
    margin-top: 14px;
    height: 32px;
    margin-left: 34px;
    font-family: "Pretendard-Medium", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #121212;
    font-size: 25px;
    letter-spacing: -0.5px;
    line-height: 32.5px;
    white-space: nowrap;
  }
  
  /* C 보기 기본도 흰색 버튼 */
  .element .a-a-b-wrapper {
    width: 470px;
    height: 59px;
    display: flex;
    background-color: #ffffff;
    border-radius: 100px;
    overflow: hidden;
    border: 3px solid #121212;
  }
  
  .element .a-a-b {
    margin-top: 14px;
    width: 167px;
    height: 32px;
    margin-left: 34px;
    font-family: "Pretendard-Medium", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #121212;
    font-size: 25px;
    letter-spacing: -0.5px;
    line-height: 32.5px;
    white-space: nowrap;
  }
  
  .element .p {
    margin-top: 14px;
    width: 167px;
    height: 32px;
    margin-left: 34px;
    font-family: "Pretendard-Medium", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #121212;
    font-size: 25px;
    letter-spacing: -0.5px;
    line-height: 32.5px;
    white-space: nowrap;
  }
  
  .element .view-2 {
    display: flex;
    margin-left: 90px;
    width: 1026px;
    height: 52px;
    position: relative;
    margin-top: 100px;
    align-items: center;
    justify-content: space-between;
  }
  
  .element .frame-5 {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .element .frame-6,
.element .frame-7 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 30px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  border: 3px solid #121212;
  background-color: #ffffff;
}
  
  .element .text-wrapper-8 {
    position: relative;
    width: fit-content;
    margin-top: -3px;
    font-family: "Pretendard-Medium", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #121212;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 32.5px;
    white-space: nowrap;
  }
  
  .element .text-wrapper-g {
    position: relative;
    width: fit-content;
    margin-top: -3px;
    font-family: "Pretendard-Medium", Helvetica, Arial, sans-serif;
    color: #121212;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 32.5px;
    white-space: nowrap;
  }
  
  .element .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -3px;
    font-family: "Pretendard-Medium", Helvetica, Arial, sans-serif;
    color: #121212;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.5px;
    line-height: 32.5px;
    white-space: nowrap;
  }
  
  .element .text-wrapper-10 {
    position: absolute;
    left: 358px;
    top: 42px;
    width: 277px;
    font-family: "Helvetica-Regular", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #121212;
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: 39px;
  }
  
  .element .think-before-it {
    position: absolute;
    left: 668px;
    top: 42px;
    width: 277px;
    font-family: "Helvetica-Regular", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #121212;
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: 39px;
  }
  
  .element .solve-simple {
    position: absolute;
    left: 1283px;
    top: 42px;
    width: 587px;
    font-family: "Helvetica-Regular", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #121212;
    font-size: 18px;
    letter-spacing: -0.36px;
    line-height: 27px;
  }
  
  .element .slider-frame {
    position: absolute;
    top: 968px;
    left: 50px;
    width: 1820px;
    height: 62px;
  }
  
  .element .slider-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 62px;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
    pointer-events: auto;  
  }
  
  /* 회색 트랙 */
  .element .slider-track {
    position: absolute;
    left: 0;
    top: 57px;
    width: 100%;
    height: 5px;
    background-color: #d0d0d0;
    z-index: 1;
  }
  
  .element .ellipse {
    position: absolute;
    top: 57px;
    left: 50%;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    border: 1px solid #121212;
    background: #000000;
    box-sizing: border-box;
    z-index: 4;
    transform: translate(-50%, -50%);
  }
  
  .element .text-wrapper,
  .element .text-wrapper-2,
  .element .text-wrapper-3,
  .element .text-wrapper-4,
  .element .div {
    position: absolute;
    top: 0;
    font-family: "D-DIN Condensed-DINCondensed-Bold", Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: -0.6px;
    line-height: normal;
    white-space: nowrap;
    z-index: 2;
  }
  .element .text-wrapper {
    left: 2px;
  }
  .element .div {
    right: 0;
  }
  .element .text-wrapper-2 {
    left: 50%;
    transform: translateX(-50%);
  }
  .element .text-wrapper-3 {
    left: 25%;
    transform: translateX(-50%);
  }
  .element .text-wrapper-4 {
    left: 75%;
    transform: translateX(-50%);
  }
  
  /* ============ 보기 선택 상태 ============ */
  .element .frame-4 .view.is-selected .div-wrapper,
  .element .frame-4 .view.is-selected .a-a-b-wrapper {
    background-color: #121212;
    border-color: #121212;
  }
  
  .element .frame-4 .view.is-selected .text-wrapper-6,
  .element .frame-4 .view.is-selected .text-wrapper-7,
  .element .frame-4 .view.is-selected .a-a-b,
  .element .frame-4 .view.is-selected .p {
    color: #ffffff;
  }
  
  .button-default {
    background: transparent;
    border: 3px solid #121212;
  }
/* ============ 버튼 활성/비활성 ============ */

/* 비활성: 클릭만 막고, 색은 기본 아웃라인 유지 */
.button-disabled {
    pointer-events: none;
  }
  
  /* 활성: 배경 + 테두리 = 블랙으로 채우기 */
  .element .frame-6.button-active,
  .element .frame-7.button-active {
    background-color: #121212;
    border-color: #121212;
  }
  
  /* 활성일 때 텍스트는 흰색으로 반전 */
  .element .frame-6.button-active .text-wrapper-8,
  .element .frame-6.button-active .text-wrapper-g,
  .element .frame-6.button-active .text-wrapper-9,
  .element .frame-7.button-active .text-wrapper-8,
  .element .frame-7.button-active .text-wrapper-g,
  .element .frame-7.button-active .text-wrapper-9 {
    color: #ffffff;
  }
  
  /* ============ 힌트 패널 ============ */
  .hint-panel {
    position: absolute;
    top: 280px;
    left: 50px; /* STAGE와 동일 그리드 */
    width: calc(100% - 1725px); /* STAGE와 동일 폭 */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .hint-panel-title {
    font-family: "D-DIN Condensed-DINCondensed-Bold", Helvetica, Arial,
      sans-serif;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.6px;
    color: #121212;
  }
  
  .hint-card {
    display: none;
    border: 3px solid #121212;
    border-radius: 16px;
    padding: 14px 16px;
    font-family: "Pretendard-Medium", Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: -0.4px;
    line-height: 24px;
    color: #121212;
    background-color: #ffffff;
  }
  
  /* 결과 라벨 */
  .element .result-label {
    min-width: 120px;
    text-align: center;
    font-family: "Pretendard-Medium", Helvetica, Arial, sans-serif;
    font-size: 20px;
    letter-spacing: -0.4px;
    line-height: 26px;
    color: #121212;
  }

  html {
    cursor: none;
  }
  
  body {
    cursor: none;
  }
  .stage-root,
  .slider-input,
  .frame-4 .view,
  .frame-5 .frame-6,
  .frame-5 .frame-7,
  .next-button,
  input[type="range"] {
    cursor: none !important;
  }
  
  .draw-cursor {
    position: fixed;
    width: 72px;   
    height: 72px;
    background: url("img/cursor.svg") no-repeat center / contain;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
  }

  /* ===== STAGE INTRO OVERLAY (공통) ===== */

.stage-intro-overlay {
  position: fixed;
  inset: 0;
  z-index: 999;                
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.28); 
  backdrop-filter: blur(12px);     
  -webkit-backdrop-filter: blur(12px);
  transition: opacity 0.25s ease;
}

/* 사라질 때 */
.stage-intro-overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* 네 알림창이 가운데에 잘 오도록 컨테이너 하나만 감싸줌 */
.stage-intro-inner {
  position: relative;
}

/*여기서부터 튜토리얼 알림창 디자인 */
.intro-frame {
  background-color: #ffffff;
  width: 100%;
  min-width: 713px;
  min-height: 500px;
  position: relative;
}

.intro-frame .STAGE {
  position: absolute;
  top: 53px;
  left: calc(50.00% - 300px);
  width: 98px;
  height: 80px;
}
.intro-frame .vector {
  position: absolute;
  top: 46px;
  left: calc(50.00% - 26px);
  width: 11px;
  height: 34px;
}
.intro-frame .img {
  position: absolute;
  top: 46px;
  left: calc(50.00% - 49px);
  width: 22px;
  height: 34px;
}
.intro-frame .vector-2 {
  position: absolute;
  top: 1px;
  left: calc(50.00% + 33px);
  width: 15px;
  height: 34px;
}
.intro-frame .vector-3 {
  position: absolute;
  top: 0;
  left: calc(50.00% + 11px);
  width: 20px;
  height: 35px;
}
.intro-frame .vector-4 {
  position: absolute;
  top: 1px;
  left: calc(50.00% - 14px);
  width: 24px;
  height: 34px;
}
.intro-frame .vector-5 {
  position: absolute;
  top: 1px;
  left: calc(50.00% - 29px);
  width: 18px;
  height: 34px;
}
.intro-frame .vector-6 {
  position: absolute;
  top: 0;
  left: calc(50.00% - 49px);
  width: 19px;
  height: 35px;
}
.intro-frame .MANUAL-FOR-HUMAN {
  position: absolute;
  top: 54px;
  left: calc(50.00% + 115px);
  width: 184px;
  height: 80px;
}

.intro-frame .intro-desc-text {
  position: absolute;
  top: 179px;
  left: calc(50.00% - 302px);
  width: 616px;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 48px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #121212;
}

/* TIP 블록 */

.intro-frame .tip-block {
  gap: 7px;
  position: absolute;
  top: 337px;
  left: 54px;
  display: inline-flex;
  align-items: center;
}

.intro-frame .tip-label-wrapper {
  justify-content: center;
  gap: 10px;
  padding: 5px 15px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 100px;
  border: 3px solid #121212;
  display: inline-flex;
  align-items: center;
}

.intro-frame .tip-label {
  position: relative;
  width: fit-content;
  margin-top: -3px;
  font-family: "D-DIN Condensed-DINCondensed-Bold", Helvetica;
  font-weight: 700;
  color: #121212;
  font-size: 18px;
  text-align: center;
  line-height: 23.4px;
  white-space: nowrap;
}

.intro-frame .tip-text {
  position: relative;
  width: 548px;
  margin-top: -1px;
  font-size: 18px;
  letter-spacing: -0.36px;
  line-height: 36px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #121212;
}

/* START 버튼 */

.intro-frame .intro-start-wrapper {
  justify-content: center;
  gap: 10px;
  padding: 10px 30px;
  position: absolute;
  top: 413px;
  left: calc(50.00% - 54px);
  background-color: #121212;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.intro-frame .intro-start-text {
  position: relative;
  width: fit-content;
  margin-top: -3px;
  font-family: "D-DIN Condensed-DINCondensed-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: -0.50px;
  line-height: 32.5px;
  white-space: nowrap;
}
/* 알림창(인트로 오버레이) 위에서는 기본 커서 완전 비활성 */
.stage-intro-overlay,
.stage-intro-overlay * {
  cursor: none !important;
}
